@import url("normalize.css");

body,html{
	/*background: #ff6d00;*/
	/*text-align: center;*/
	/*background: url(img/fondo2.jpg);*/
	padding: 10px;
}
.body2, .html2{
	background: #6ab2d5;
	padding: 10px;
}
.principal{
	/*background: #0091EA;*/
  
  margin: 0;
  padding: 0;
  background: url(img/fondo2.jpg) no-repeat center top;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;

}
.animales {
border: 2px solid grey;
margin: 50px 10px;
padding: 0;
border-radius: 800px;
overflow: hidden;
width: 150px; 
height: 150px;
background: skyblue; 
}
.cajas{
	
	background: #1C5F81;
	border-radius: 1em;
	display: inline-block; /*comparte espacios*/
	background:#1E6381;
	width: 30%; /*antes era 60+40=100, pero le cambie a 45 para q se vea mejor alineado*/
	font-size: 1rem; /*separacion del aside al selection*/
	vertical-align: top; /*se alinea en la altura con section*/
	min-height: 200px; /*altura*/
	margin: 3px;
	text-align: center;
}
article
{
	/*background-color: #011E30;*/
	text-align: center;
	margin: .5em;
	min-height: 120px;
}
.titulo{
	background: #0091EA;
	width: 97%;
	margin: auto;

	
}
.titulo2{
	background: white;

}
/*.logo{
	width: 100%;
	background: white;
	height: 4em;
	text-align: center;
}*/
.logo2{
	width: 70%;
	background: white;
	height: 20em;
	text-align: center;
	border-radius: 2em;
	margin: .15em auto;
}
.logo3{
	width: 90%;
	background: white;
	height: 15em;
	text-align: center;
	border-radius: 2em;
	margin: 4em auto;
}
.fondo{
	background: white;
	width: 75%;
	border-radius: 1em;
	margin: 1em auto;
	padding: 10px;
}
nav{
	background:#ffd600;
	margin-bottom:10px;
}
 nav ul {
	list-style: none;
	overflow: hidden;
}
 nav ul li {
	float: left;
}
 nav ul li a {
	display: block;
	padding:20px;
	color:#fff;
	text-decoration: none;
}
 nav ul li a:hover {
	background:#2980b9;
}
.contenedor {
	width: 95%;
	max-width:1000px;
	margin:auto;
}
 
.contenedor p {
	margin-bottom:40px;
}
 
.menu-fixed {
	position:fixed;
	z-index:1000;
	top:0;
	max-width:1000px;
	width:100%;
	max-width: 1000px;
	box-shadow:0px 4px 3px rgba(0,0,0,.5);
	height: 4.5em;
}


  
  
  