*{
	margin:0px;
	padding:0px;
	font-family: helvetica Neue;
	font-weight: lighter;
}
aside{
	padding-left: 10%;
	width: 15;
	height: 100%;
	position: fixed;
	background-color: brown;
	display: block;
	float: left;
	left: 90%;
	/* top: 5px; */
}
#container{
	width: 60%;
	height: 75%;
	 position: fixed;
    display:block;
	position: absolute; 
	border: 3px solid black;
	background-color:grey;
	left: 20%;
	overflow: hidden;
 

}
nav{
	position: fixed;
	width: 10%;
	height: 100%;
	background-color: #e6d15d;
}
div.caja{
    margin-top: 20px;
    margin-left: 15%;
}
.pokemon{
	margin: 10px;
     height: 80px;
	 width: 80px;
	max-width: 100%;
}
.fondo{
	max-width: 100%;
}
.backgroundimg{
	height: 100%;
	width: 100%;

}
#ullogin{
	width:100%;
	background:yellow;
	height:20px;
	text-align:center;
}
#liloggin{
	display:inline-table;
	background:gray;
	color:white;
	margin-right:20%;
}
#tableimg{
	position: relative;
	background-color: aquamarine;
}